@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: url(images/bg.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #333;
}

.music-container {
  background-color: #faeee7;
  border-radius: 15px;
  box-shadow: 0 10px 20px 0 rgba(115, 107, 124, 0.6);
  display: flex;
  padding: 20px 30px;
  position: relative;
  margin: 100px 0;
  z-index: 10;
}

.img-container {
  position: relative;
  width: 110px;
}

.img-container::after {
  content: "";
  background-color: #faeee7;
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, 50%);
}

.img-container img {
  border-radius: 50%;
  object-fit: cover;
  height: 110px;
  width: inherit;
  position: absolute;
  bottom: 0;
  left: 0;
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #faeee7;
  border: 0;
  color: #6867ac;
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  margin: 0 20px;
}

.action-btn.action-btn-big {
  color: #6867ac;
  font-size: 20px;
}

.action-btn:focus {
  outline: 0;
}

/* volumn range */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* volumn range styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.2px solid #6867ac;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #6867ac;
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  border: 0.2px solid #6867ac;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #6867ac;
  cursor: pointer;
  margin-top: -5px;
}

input[type="range"]::-ms-thumb {
  -webkit-appearance: none;
  border: 0.2px solid #6867ac;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #6867ac;
  cursor: pointer;
  margin-top: -5px;
}

/* styling the track */

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  background: #fee3ec;
  border-radius: 2rem;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #fee3ec;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
  background: #fee3ec;
  border-radius: 2rem;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #fee3ec;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}
input[type="range"]:focus::-ms-fill-lower {
  background: #fee3ec;
}
input[type="range"]::-ms-fill-upper {
  background: #fee3ec;
  border: 0.2px solid rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
}
input[type="range"]:focus::-ms-fill-upper {
  background: #fee3ec;
}

.music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  height: 80%;
  padding: 10px 10px 10px 150px;
  opacity: 0;
  transform: translateY(0%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}

.music-info h4 {
  margin: 0;
}

.progress-container {
  background: #faeee7;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 4px;
  width: 100%;
}

.progress {
  background-color: #6867ac;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}
